<header class="golden-header" [ngStyle]="{ 'background': background }">
  <div class="auth-section">
    <button class="auth-btn" [ngStyle]="{'border' : border_auth_btn }" *ngIf="!isLoggedIn">Login</button>
    <button class="auth-btn" [ngStyle]="{'border' : border_auth_btn }" *ngIf="!isLoggedIn">Register</button>
    <button class="auth-btn" [ngStyle]="{'border' : border_auth_btn }" *ngIf="isLoggedIn">Logout</button>
  </div>
  <h1 class="app-title">{{ title }}</h1>
  <p class="app-subtitle">{{ subtitle }}</p>
  <div class="golden-radiant" [ngStyle]="{ 'background': radiant }"></div>
</header>
